@import 'simplelightbox/dist/simple-lightbox.min.css';

.gallery {
  margin: 24px auto;
  width: 1128px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  display: block;
  margin: 0;
  padding: 0;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.basicLightbox__placeholder > img:first-child:last-child {
  width: 1112px;
  height: 640px;
  object-fit: cover;
  cursor: pointer;
}

.basicLightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
